<!DOCTYPE html>
<html>
<head>
  <title>AQI and Advisory Data</title>
</head>
<body>
  <h1>AQI and Advisory Data</h1>
  <table>
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Level</th>
        <!-- <th>Start Index</th>
        <th>End Index</th> -->
        <!-- <th>Color Code</th> -->
        <th>Affected</th>
        <th>Sensitive Recommendations</th>
        <th>Normal Recommendations</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(row) { %>
        <tr>
          <!-- <td><%= row.ID %></td> -->
          <td><%= row.Level %></td>
          <!-- <td><%= row.startIndex %></td>
          <td><%= row.endIndex %></td> -->
          <!-- <td><%= row.colorCode %></td> -->
          <td><%= row.Affected %></td>
          <td><%= row.sensitiveRec %></td>
          <td><%= row.normalRec %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>